<p>
  {{- range .Ancestors.Reverse }}
    <span>
      <a class="sectionlink" href="{{- .RelPermalink -}}">{{- .Title -}}</a>
    </span>
    <span>»</span>
  {{ end }}
  {{- $rss := (.OutputFormats.Get "rss") -}}
  <span>
    {{ .Title -}}
    {{- if (default true (default .Site.Params.rss .Params.rss)) -}}
      {{- with $rss }}
        <a href="{{- .RelPermalink -}}" title="RSS" aria-label="RSS">
          {{- partial "utils/icon.html" (dict "name" "rss" "attributes" `class="icon"`) -}}
        </a>
      {{- end -}}
    {{- end -}}
  </span>
</p>
