{{- $systems := slice
  (dict "id" "cwd" "label" "CWD" "enabled" .Site.Params.cwd "show" .Site.Params.cwdshow)
  (dict "id" "waline" "label" "Waline" "enabled" .Site.Params.waline "show" .Site.Params.walineshow)
  (dict "id" "twikoo" "label" "Twikoo" "enabled" .Site.Params.twikoo "show" .Site.Params.twikooshow)
  (dict "id" "giscus" "label" "Giscus" "enabled" .Site.Params.giscus "show" .Site.Params.giscusshow)
-}}
{{- range $systems -}}
  <input
    class="comment-checkbox"
    type="checkbox"
    id="comment-{{- .id -}}"
    name="comment-system"
    {{ if .show -}}
      checked
    {{- end -}}
  />
{{- end -}}
<nav class="comment-switcher">
  {{- range $systems -}}
    {{- if .enabled -}}
      <label
        id="{{- .id -}}-btn"
        class="comment-label"
        for="comment-{{- .id -}}"
        >{{- .label -}}</label
      >
    {{- end -}}
  {{- end -}}
</nav>
{{- range $systems -}}
  {{- if .enabled -}}
    <div id="{{- .id -}}-container" class="comment-container">
      {{- partial (printf "comments/%s.html" .id) $ -}}
    </div>
  {{- end -}}
{{- end -}}
