<input type="checkbox" id="aside-checkbox" style="display: none;" />
<aside class="site-aside">
  <details class="asideblock" open id="TableOfContents">
    <summary class="side-entry">{{ i18n "dates" }}</summary>
    <ul>
      {{- range .pages.GroupByPublishDate "2006" -}}
        {{- if ne .Key "0001" -}}
          {{- $year := replace .Key "0001" "" -}}
          <li>
            <details class="menu-fold">
              <summary class="side-entry">
                <a class="inpage" href="#{{- $year -}}">{{- $year -}}</a>
              </summary>
              <ul>
                {{- range .GroupByDate "01" -}}
                  <li class="side-entry">
                    <a class="inpage" href="#{{- $year -}}-{{- .Key -}}"
                      >{{- .Key -}}</a
                    >
                  </li>
                {{- end -}}
              </ul>
            </details>
          </li>
        {{- end -}}
      {{- end -}}
    </ul>
  </details>
</aside>
