{{- $ctx := .context -}}
{{- $params := $ctx.Site.Params -}}
{{- if default true (default $params.ShowDeeperinFileTree $ctx.Params.ShowDeeperinFileTree) -}}
  {{- $showPosts := default false (default $params.ShowPostsinFileTree $ctx.Params.ShowPostsinFileTree) -}}
  {{- range $ctx.Pages -}}
    {{- if not .Params.HideInFileTree -}}
      {{- if .IsSection -}}
        {{- $inner := partial "file-tree-walk.html" (dict "context" .) -}}
        {{- if $inner -}}
          <li>
            <details class="menu-fold">
              <summary class="side-entry">
                <a class="sectionlink" href="{{- .RelPermalink -}}">{{- .Title -}}</a>
              </summary>
              <menu class="indentline">{{ $inner }}</menu>
            </details>
          </li>
        {{- else -}}
          <li class="side-entry">
            <a class="sectionlink" href="{{- .RelPermalink -}}">{{- .Title -}}</a>
          </li>
        {{- end -}}
      {{- else if $showPosts -}}
        <li class="side-entry">
          <a class="pagelink" href="{{- .RelPermalink -}}">{{- .Title -}}</a>
        </li>
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
