<!-- filter.html -->
{{- range $taxonomyName, $taxonomies := .Site.Taxonomies -}}
  <section class="filter-list-block">
    <h3 class="filter-list-block-header" data-taxonomy="{{ $taxonomyName }}">
      {{- with .Page -}}{{- .Title -}}{{- end -}}
    </h3>
    <section class="filter-list-block-content">
      {{- range $taxonomy, $term := $taxonomies -}}
        <label class="filter-label">
          <input
            type="checkbox"
            class="filter-checkbox"
            data-taxonomy="{{ $taxonomyName }}"
            data-term="{{ $term.Page.Title }}"
          />
          {{ $term.Page.Title }}
        </label>
      {{- end -}}
    </section>
  </section>
{{- end -}}
<h3>
  {{ i18n "filter_results" }}
  <label id="clear-filters" type="button">{{ i18n "clear_filter" }}</label>
</h3>
<ul id="filter-results" class="post-list"></ul>

{{- $filterjs := resources.Get "js/filter.js" | js.Build (dict "params" (dict "indexURL" ("index.json" | relURL) "loading" (i18n "loading") "noResults" (i18n "no_results"))) | resources.Minify | fingerprint -}}
<script
  defer
  crossorigin="anonymous"
  src="{{- $filterjs.RelPermalink -}}"
  integrity="{{- $filterjs.Data.Integrity -}}"
></script>
