{{- $page := . -}}
<div class="post-info">
  <p class="modified-date">
    {{- if .Lastmod -}}
      {{- $date := (.Lastmod.Format (default "2006/01/02" .Site.Params.DateFormat)) -}}
      {{- if and .GitInfo .Site.Params.LastChangeLink -}}
        <a
          href="{{- .Site.Params.LastChangeLink -}}/{{- .GitInfo.Hash -}}"
          title="{{ i18n "last_modified_by" }}"
          target="_blank"
          rel="noopener"
        >
          {{- i18n "modified" -}}
        </a>
      {{- else -}}
        {{- i18n "modified" -}}
      {{- end -}}
      {{ i18n "on" }}
      {{ $date -}}
    {{- end -}}
  </p>
  <p>
    {{- $cc := (default "nc-sa" (default .Site.Params.copyright .Params.copyright)) }}
    {{ i18n "licenses" }}
    <a
      href="https://creativecommons.org/licenses/by-{{- $cc -}}/4.0"
      target="_blank"
    >
      CC
      BY-{{- $cc | upper -}}
    </a>
  </p>
</div>
