{{- $show := default true (default .Site.Params.ShowFileTree .Params.ShowFileTree) -}}
{{- if $show -}}
  {{- $root := .FirstSection -}}
  {{- with .Params.FileTreeRoot -}}
    {{- $page := site.GetPage (printf "%s" .) -}}
    {{- if $page -}}
      {{- $root = $page -}}
    {{- end -}}
  {{- end -}}
  <div class="sideblock">
    <details class="menu-fold" open>
      <summary class="side-entry">
        <a class="sectionlink" href="{{- $root.RelPermalink -}}">
          {{ $root.Title }}
        </a>
      </summary>
      <menu class="indentline">
        {{- partial "file-tree-walk.html" (dict "context" $root) -}}
      </menu>
    </details>
  </div>
{{- end -}}
