{{- $show := default true (default .Site.Params.ShowFileTree .Params.ShowFileTree) -}}
{{- if $show -}}
  {{- $root := .FirstSection -}}
  {{- with .Params.FileTreeRoot -}}
    {{- with site.GetPage . -}}
      {{- $root = . -}}
    {{- end -}}
  {{- end -}}
  {{- if default true (default site.Params.ShowDeeperinFileTree $root.Params.ShowDeeperinFileTree) -}}
    {{- $tree := partial "file-tree-walk.html" (dict "context" $root) -}}
    {{- if $tree -}}
      <details class="sideblock" open>
        <summary class="side-entry">
          <a class="sectionlink" href="{{- $root.RelPermalink -}}">{{ $root.Title }}</a>
        </summary>
        <menu class="indentline">{{ $tree }}</menu>
      </details>
    {{- else -}}
      <div class="sideblock">
        <span class="side-entry">
          <a class="sectionlink" href="{{- $root.RelPermalink -}}">{{ $root.Title }}</a>
        </span>
      </div>
    {{- end -}}
  {{- end -}}
{{- end -}}
