{{- $show := default true (default .Site.Params.ShowSiteInfo .Params.ShowSiteInfo) -}}
{{- if $show -}}
  <div class="sideblock">
    <menu>
      {{- with .Site.Params.description -}}
        <li class="side-entry"><p>{{- . -}}</p></li>
      {{- end -}}
      {{- if (default true .Site.Params.ShowSiteCountWords) -}}
        {{- $pages := site.RegularPages -}}
        <li class="side-entry">
          <p>
            {{- partial "utils/countwords.html" (dict "pages" $pages) -}}
          </p>
        </li>
      {{- end -}}
      {{- if (default true .Site.Params.ShowSiteCountTerms) -}}
        {{- $num := (len .Site.Taxonomies ) -}}
        {{- $scratch := newScratch -}}
        {{- range .Site.Taxonomies -}}
          {{- $scratch.Add "total" (len .) -}}
        {{- end -}}
        <li class="side-entry">
          <p>
            {{ i18n "terms_info" (dict "Total" ($scratch.Get "total") "Num" $num) }}
          </p>
        </li>
      {{- end -}}
      {{- with .Site.Params.StartDate -}}
        <!-- ponytail: client-side days, server-side needs site.TimeZone handling -->
        <li class="side-entry">{{ i18n "running_days" | safeHTML }}</li>
        <script>
          let days = Math.floor(
            (Date.now() - new Date({{ . | jsonify | safeJS }}).getTime()) / 864e5,
          );
          document.getElementById('runningdays').innerHTML = days;
        </script>
      {{- end -}}
    </menu>
  </div>
{{- end -}}
