{{- $show := default true (default .Site.Params.ShowSiteInfo .Params.ShowSiteInfo) -}}
{{- if $show -}}
  <details class="sideblock" open>
    <summary class="side-entry">{{ i18n "site_info" }}</summary>
    <menu class="indentline">
      {{- with .Site.Params.description -}}
        <li class="side-entry"><p>{{- . -}}</p></li>
      {{- end -}}
      {{- if (default true .Site.Params.ShowSiteCountWords) -}}
        {{- $pages := site.RegularPages -}}
        <li class="side-entry">
          <p>
            {{- partial "utils/countwords.html" (dict "pages" $pages) -}}
          </p>
        </li>
      {{- end -}}
      {{- if (default true .Site.Params.ShowSiteCountTerms) -}}
        {{- $num := len .Site.Taxonomies -}}
        {{- $total := 0 -}}
        {{- range .Site.Taxonomies -}}
          {{- $total = add $total (len .) -}}
        {{- end -}}
        <li class="side-entry">
          <p>
            {{ i18n "terms_info" (dict "Total" $total "Num" $num) }}
          </p>
        </li>
      {{- end -}}
      {{- with .Site.Params.StartDate -}}
        <li class="side-entry">{{ i18n "running_days" | safeHTML }}</li>
      {{- end -}}
    </menu>
    {{- with .Site.Params.StartDate -}}
      <script>
        let days = Math.floor(
          (Date.now() - new Date({{ . | jsonify | safeJS }}).getTime()) / 864e5,
        );
        document.getElementById('runningdays').innerHTML = days;
      </script>
    {{- end -}}
  </details>
{{- end -}}
