.modified-date {
  color: var(--fg-weak);
  text-align: center;
}
.post-end-nav {
  display: grid;
  grid-template-areas: "prev top next";
  grid-template-columns: 1fr 5rem 1fr;
  > div {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    position: relative;
    background-color: var(--bg-secondary);
    border-radius: var(--radius);
    &:hover {
      background-color: var(--bg-hover);
      color: var(--fg-hover);
    }
    > a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
.post-prev {
  grid-area: prev;
  justify-content: flex-start;
}
.page-top {
  grid-area: top;
  justify-content: space-evenly;
  margin: 0 0.5rem;
}
.post-next {
  grid-area: next;
  justify-content: flex-end;
}
.side-entry,
#TableOfContents ul li {
  padding-left: 0.5rem;
  padding-right: 1.25rem;
  overflow-wrap: break-word;
  word-break: break-word;
}
summary.side-entry:hover {
  background-color: var(--bg-secondary);
}

#aside-btn {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
#aside-checkbox:checked ~ aside {
  display: none;
}
.sideblock,
.asideblock {
  background-color: var(--bg);
  margin-bottom: 0.5rem;
}
/* #TableOfContents ul {
  scroll-target-group: auto;
  a:target-current {
    color: red;
  }
} */
#TableOfContents ul,
.sideblock,
.asideblock,
.indentline {
  display: flex;
  flex-direction: column;
  li {
    list-style: none;
    /* margin-top: 0.25rem; */
  }
}
.indentline,
#TableOfContents ul {
  border-left: 0.25rem solid var(--indent-line);
  margin: 0 0 0.25rem 0.5rem;
}
.pagination {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  padding: 0;
  list-style: none;
  width: auto;
  max-width: 80%;
}
.archive-month {
  margin: 0.5rem 0;
  display: flex;
}
.archive-month-header {
  width: 3rem;
  flex: none;
}
.archive-month-posts {
  flex: 1;
  margin: 0;
}
.post-section {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  position: relative;
  p {
    margin: 0;
  }
}
.top {
  position: absolute;
  right: 0.5rem;
  padding: 0 0.25rem;
  border-radius: var(--radius);
  &:hover {
    color: var(--fg-hover);
    background-color: var(--bg-hover);
  }
}
.socials {
  display: flex;
  justify-content: space-evenly;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin: 0 0.25em;
}
.section-tree {
  list-style: none;
  margin: 0;
  li {
    padding: 0.25rem 2rem;
  }
}
