#searchbox {
  position: relative;
  padding: 0.5rem;
  width: 100%;
}
#searchbox input {
  height: 1.5rem;
  width: 100%;
  background-color: var(--bg-tertiary);
  color: var(--fg-accent);
}
#searchResults {
  margin: 0;
  > .focus {
    background-color: var(--bg-tertiary);
  }
  .search-result-content {
    font-size: 0.8rem;
    color: var(--fg-weak);
  }
  strong {
    color: var(--fg-accent);
  }
}
