{{- $page := .page -}}
{{- $pages := .pages -}}
{{- $itemstyle := .itemstyle -}}
{{- $postsPerYear := default true (default $page.Site.Params.ShowPostsPerYear $page.Params.ShowPostsPerYear) -}}
{{- $wordsPerYear := default true (default $page.Site.Params.ShowCountWordsPerYear $page.Params.ShowCountWordsPerYear) -}}
{{- $postsPerMonth := default true (default $page.Site.Params.ShowPostsPerMonth $page.Params.ShowPostsPerMonth) -}}
{{- $wordsPerMonth := default true (default $page.Site.Params.ShowCountWordsPerMonth $page.Params.ShowCountWordsPerMonth) -}}
{{- if eq .liststyle "split" -}}
  {{- $paginator := $page.Paginate $pages -}}
  {{- range $paginator.Pages -}}
    {{- partial "postitem.html" (dict "page" . "itemstyle" $itemstyle) -}}
  {{- end -}}
  <ul class="pagination">
    {{- range $paginator.Pagers -}}
      <li><a href="{{- .URL -}}">{{- .PageNumber -}}</a></li>
    {{- end -}}
  </ul>
{{- else if eq .liststyle "date" -}}
  {{- $dated := where $pages "PublishDate.Year" "ne" 1 -}}
  {{- range $dated.GroupByPublishDate "2006" -}}
    {{- $year := .Key -}}
    <h2 class="archive-year-header" id="{{- $year -}}">
      {{- $year -}}
      {{- if $postsPerYear -}}
        <sup class="archive-count"><small>{{- len .Pages -}}</small></sup>
      {{- end -}}
    </h2>
    {{- if $wordsPerYear -}}
      <p>
        {{- partial "utils/countwords.html" (dict "pages" .Pages "page" $page) -}}
      </p>
    {{- end -}}
    {{- range .GroupByDate "01" -}}
      <section class="list-block">
        <h3 class="list-block-header" id="{{- $year -}}-{{- .Key -}}">
          {{- .Key -}}
          {{- if $postsPerMonth -}}
            <sup class="archive-count"><small>{{- len .Pages -}}</small></sup>
          {{- end -}}
        </h3>
        <div class="list-block-content">
          {{- if $wordsPerMonth -}}
            <p>
              {{- partial "utils/countwords.html" (dict "pages" .Pages "page" $page) -}}
            </p>
          {{- end -}}
          {{- partial "utils/post-list.html" (dict "pages" .Pages "itemstyle" $itemstyle) -}}
        </div>
      </section>
    {{- end -}}
  {{- end -}}
{{- else -}}
  {{- partial "utils/post-list.html" (dict "pages" $pages "itemstyle" $itemstyle) -}}
{{- end -}}
