{{- $page := .page -}}
{{- $pages := .pages -}}
{{- $type := .type -}}
{{- if eq $type "split" -}}
  {{- range ($page.Paginate $pages).Pages -}}
    {{- partial "postblock.html" . -}}
  {{- end -}}
  {{- $paginator := $page.Paginate $pages -}}
  {{- with $paginator -}}
    <ul class="pagination">
      {{- range .Pagers -}}
        <li><a href="{{- .URL -}}">{{- .PageNumber -}}</a></li>
      {{- end -}}
    </ul>
  {{- end -}}
{{- else if eq $type "date" -}}
  {{- range $pages.GroupByPublishDate "2006" -}}
    {{- if ne .Key "0001" -}}
      {{- $year := replace .Key "0001" "" -}}
      <h2 class="archive-year-header" id="{{- $year -}}">
        {{- $year -}}
        <sup class="archive-count"><small>{{- len .Pages -}}</small></sup>
      </h2>
      {{- if (default true (default $page.Site.Params.ShowCountWordsPerYear $page.Params.ShowCountWordsPerYear)) -}}
        <p>
          {{- partial "utils/countwords.html" (dict "pages" .Pages "page" $page ) -}}
        </p>
      {{- end -}}
      {{- range .GroupByDate "01" -}}
        <section class="archive-month">
          <h3 class="archive-month-header" id="{{- $year -}}-{{- .Key -}}">
            {{- .Key -}}
            <sup class="archive-count"><small>{{- len .Pages -}}</small></sup>
          </h3>
          <div class="archive-month-posts">
            {{- if (default true (default $page.Site.Params.ShowCountWordsPerMonth $page.Params.ShowCountWordsPerMonth)) -}}
              <p>
                {{- partial "utils/countwords.html" (dict "pages" .Pages "page" $page ) -}}
              </p>
            {{- end -}}
            {{- range .Pages -}}
              {{- partial "postblock.html" . -}}
            {{- end -}}
          </div>
        </section>
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- else if eq $type "list" -}}
    {{- range $pages -}}
      {{- partial "postblock.html" . -}}
    {{- end -}}
{{- else if eq $type "plain" -}}
  {{- range $pages -}}
    {{- partial "postblock.html" . -}}
  {{- end -}}
{{- end -}}

{{- define "_partials/postblock.html" -}}
  {{- if eq .Kind "page" -}}
    <section class="post-section">
      <h3 class="entry-title">
        <a
          class="pagelink"
          aria-label="post link to {{ .Title | plainify -}}"
          href="{{- .RelPermalink -}}"
        >
          {{- .Title | markdownify -}}</a
        >
        {{- if .Params.weight -}}
          {{- partial "utils/icon.html" (dict "name" "star" "attributes" `class="icon"`) -}}
        {{- end -}}
      </h3>
      {{- partial "post-meta" . -}}
    </section>
  {{- end -}}
{{- end -}}
