{{- define "main" -}}
  {{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections -}}
  {{- if site.Params.ShowAllPagesInArchive -}}
    {{- $pages = site.RegularPages -}}
  {{- end -}}
  {{- $opts := partial "utils/list-settings.html" (dict "page" . "pages" $pages "defaultlist" "date" "defaultitem" "simple" "limit" false) -}}
  {{- $liststyle := $opts.liststyle -}}
  {{- $itemstyle := $opts.itemstyle -}}
  {{- $pages = $opts.pages -}}
  <main>
    <span id="top" aria-hidden="true"></span>
    <header class="page-header">
      {{- partial "breadcrumbs" . -}}
      {{- if (default true .Site.Params.ShowSectionCountWords) -}}
        {{- partial "utils/countwords.html" (dict "pages" $pages "page" .) -}}
      {{- end -}}
      {{- with .Params.Summary -}}
        <p>{{- . -}}</p>
      {{ end -}}
      {{- if eq $liststyle "date" -}}
        <label for="aside-checkbox" id="aside-btn">⇄</label>
      {{- end -}}
    </header>
    <article>
      {{- .Content -}}
      {{- partial "utils/section-lists.html" (dict "pages" $pages "liststyle" $liststyle "itemstyle" $itemstyle "page" .) -}}
    </article>
  </main>
  {{- if eq $liststyle "date" -}}
    {{- partial "date-aside.html" (dict "pages" $pages) -}}
  {{- end -}}
{{- end -}}
