{{- define "main" -}}
  {{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections -}}
  {{- if site.Params.ShowAllPagesInHome -}}
    {{- $pages = site.RegularPages -}}
  {{- end -}}
  {{- $limitpages := $pages -}}
  {{- with default .Site.Params.ListLimit .Params.ListLimit -}}
    {{- $limitpages = first . $pages -}}
  {{- end -}}
  {{- $liststyle := default "list" (or .Params.ListStyle .Site.Params.ListStyle) -}}
  {{- $itemstyle := default "card" (default .Site.Params.ItemStyle .Params.ItemStyle) -}}
  {{- $show := default true (default .Site.Params.ShowList .Params.ShowList) -}}
  <main>
    <span id="top" aria-hidden="true"></span>
    <header class="page-header">
      {{- partial "breadcrumbs.html" . -}}
      {{- if (default true .Site.Params.ShowSectionCountWords) -}}
        <p>
          {{- partial "utils/countwords.html" (dict "pages" $pages "page" .) -}}
        </p>
      {{- end -}}
      {{- with .Page.Params.summary -}}
        {{- . -}}
      {{ end -}}
      {{- if and $show (eq $liststyle "date") -}}
        <label for="aside-checkbox" id="aside-btn">⇄</label>
      {{- end -}}
    </header>
    <article>
      {{- .Content -}}
      {{- if (default true (default .Site.Params.ShowSubSection .Params.ShowSubSection)) -}}
        {{- range .Sections -}}
          {{- partial "utils/section-tree-walk.html" (dict "page" .) -}}
        {{- end -}}
      {{- end -}}
      {{- if $show -}}
        {{- partial "utils/section-lists.html" (dict "liststyle" $liststyle "itemstyle" $itemstyle "pages" $limitpages "page" .) -}}
      {{- end -}}
    </article>
  </main>
  {{- if and $show (eq $liststyle "date") -}}
    {{- partial "date-aside.html" (dict "pages" $limitpages) -}}
  {{- end -}}
{{- end -}}
