{{- define "main" -}}
  <main>
    <span id="top" aria-hidden="true"></span>
    <header>
      {{- partial "breadcrumbs" . -}}
    </header>
    <article>
      {{- .Content -}}
      {{- if .Params.ShowSearch -}}
        <h2>{{ i18n "search" }}</h2>
        <div id="searchbox">
          <input
            id="searchInput"
            placeholder="{{- .Site.Params.SearchPlaceHolder | default (printf "search ↵") -}}"
            aria-label="search"
            type="search"
            autocomplete="off"
          />
          <ul id="searchResults" aria-label="search results"></ul>
        </div>
        {{- partial "utils/search-assets.html" . -}}
      {{- end -}}
      <h2>{{ i18n "sections" }}</h2>
      {{- range .Site.Sections }}
        {{- partial "utils/section-tree-walk.html" (dict "page" .) -}}
      {{- end }}
      <h2>{{ i18n "taxonomies" }}</h2>
      {{- range $taxonomy, $terms := .Site.Taxonomies -}}
        {{- with . -}}
          <h3>
            <a class="sectionlink" href="{{- .Page.RelPermalink -}}"
              >{{ .Page.Title }} </a
            >{{- if (default true site.Params.ShowTaxonomyTermCount) -}}
              <sup>{{- len $terms -}}</sup>
            {{- end -}}
          </h3>
          {{- with .Page.Params.Summary -}}
            <p>{{- . -}}</p>
          {{- end -}}
          {{- range . }}
            <a class="tag" href="{{- .Page.RelPermalink -}}"
              >{{- .Page.Title -}}{{ if (default true site.Params.ShowTaxonomyTermCount) -}}
                <sup>{{- .Count -}}</sup>
              {{- end -}}</a
            >
          {{ end -}}
        {{- end -}}
      {{- end -}}
      <h2>{{ i18n "filter" }}</h2>
      {{- partial "filter.html" . -}}
    </article>
  </main>
{{- end -}}
