{{- define "main" -}}
  {{- $pages := .RegularPagesRecursive -}}
  {{- $limitpages := $pages -}}
  {{- with default .Site.Params.ListLimit .Params.ListLimit -}}
    {{- $limitpages = first . $pages -}}
  {{- end -}}
  {{- $show := default true (default .Site.Params.ShowList .Params.ShowList) -}}
  {{- $liststyle := default "list" (or .Params.ListStyle .Site.Params.ListStyle) -}}
  {{- $itemstyle := default "card" (default .Site.Params.ItemStyle .Params.ItemStyle) -}}
  <main>
    <span id="top" aria-hidden="true"></span>
    <header class="page-header">
      {{- partial "breadcrumbs.html" . -}}
      {{- with .Params.Summary -}}
        <p>{{- . -}}</p>
      {{ end -}}
      {{- if and $show (eq $liststyle "date") -}}
        <label for="aside-checkbox" id="aside-btn">⇄</label>
      {{- end -}}
    </header>
    <article>
      <h1>{{- .Title -}}</h1>
      {{- with .Content -}}
        {{- . -}}
      {{ end }}
      {{- if $show -}}
        {{- partial "utils/section-lists.html" (dict "liststyle" $liststyle "itemstyle" $itemstyle "pages" $limitpages "page" .) -}}
      {{- end -}}
    </article>
  </main>
  {{- if and $show (eq $liststyle "date") -}}
    {{- partial "date-aside.html" (dict "pages" $limitpages) -}}
  {{- end -}}
{{- end -}}
