{{- if ne .Type "mermaid" -}}
  {{- $lang := .Attributes.lang | default .Type -}}
  <details open>
    <summary>{{- $lang | default "TEXT" -}}</summary>
    {{- if transform.CanHighlight .Type -}}
      <pre
        class="chroma codeblock"
      ><code class="language-{{- .Type -}}" data-lang="{{- .Type -}}"
          >{{- with transform.HighlightCodeBlock . -}}
        {{- .Inner -}}
      {{- end -}}</code
        ><button type="button" class="copybtn">copy</button></pre>
    {{- else -}}
      <pre
        class="codeblock"
      ><code class="language-{{- .Type -}}" data-lang="{{- .Type -}}">{{- .Inner -}}</code><button type="button" class="copybtn">copy</button></pre>
    {{- end -}}
  </details>
{{- end -}}
