{{- $u := urls.Parse .Destination -}}
{{- if $u.IsAbs }}
  <a
    href="{{- .Destination | safeURL -}}"
    {{- with .Title -}}title="{{- . -}}"{{- end }}
    class="outlink"
    target="_blank"
    rel="noopener"
    >{{- .Text | safeHTML -}}
    {{- partial "utils/icon.html" (dict "name" "link" "attributes" `class="outlink-icon"`) -}}
  </a>
{{- else -}}
 {{- $dest := .Destination | safeURL -}}
  {{- if hasPrefix $dest "/" -}}
    {{- $base := strings.TrimSuffix "/" .Page.Site.BaseURL -}}
    {{- $dest = printf "%s%s" $base $dest -}}
  {{- end -}}
  <a
    class="pagelink"
    href="{{- $dest -}}"
    {{- with .Title -}}title="{{- . -}}"{{- end -}}
    >{{- .Text | safeHTML -}}</a
  >
{{- end -}}
