<div class="giscus"></div>
<script
  src="https://giscus.app/client.js"
  data-repo="{{- .Site.Params.gcsdata.repo -}}"
  data-repo-id="{{- .Site.Params.gcsdata.repoid -}}"
  data-category="{{- .Site.Params.gcsdata.category -}}"
  data-category-id="{{- .Site.Params.gcsdata.categoryid -}}"
  data-mapping="{{- .Site.Params.gcsdata.mapping -}}"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="{{- .Site.Params.gcsdata.position -}}"
  data-theme="preferred_color_scheme"
  data-lang="{{- .Site.Params.gcsdata.lang -}}"
  crossorigin="anonymous"
  async
></script>
